<p id="notice"><%= notice %></p>

<h1>Flights</h1>

<%= render "search_form" %>


      <% unless @available_flights.nil? %>
        <% if @available_flights.any? %>
          <div class="section">
            <h2 class="title is-4">Outbound flight for <%= Airport.find(params[:from_airport_id]).code %> to <%= Airport.find(params[:to_airport_id]).code %> </h2>
            <h2 class="subtitle"><%= @selected_date.strftime('%B %d, %Y') %></h2>
            <%= render "search_result_form" %>
          </div>
        <% else %>
          <p>There are no available flights on the selected date</p>
        <% end %>
      <% end %>

<br/>
<br/>


<br>

